<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="carpetaDatosEntrada" value="C:\Users\Cristian\Desktop\Tesis\Source Code\SimuladorHidrologico_CSharp\Inputs"/>
    <add key="carpetaArchivoLog" value="C:\Users\Cristian\Desktop\Tesis\Source Code\SimuladorHidrologico_CSharp\Log"/>
    <add key="DEM" value="HSHEDS_RAW.dem"/>        
    <add key="profundidadCapaPermeable" value="profundidad.prof"/>
    <add key="kConductividadHSuelo" value="conductividadhidraulica.khs"/>
    <add key="capacidadAlmacenSuelo" value="aguaalmacenable.cap"/>
    <add key="aguaSuperfEntradaDefault" value="aguainicialenS.agu"/>
    <add key="aguaCapa1EntradaDefault" value="aguainicialenC1.agu"/>
    <add key="lluvia" value="C:\Users\Cristian\Desktop\Tesis\Source Code\SimuladorHidrologico_CSharp\Inputs\lluvia"/>
    <add key="coefManning" value="0,06"/>
    <add key="coefEvaporacion" value="-0,000125 "/>
    <add key="carpetaResultados" value="C:\Users\Cristian\Desktop\Tesis\Source Code\SimuladorHidrologico_CSharp\Resultados\15mmDEMHSHEDS"/>
    <add key="maxEscSupPasosNts" value="300"/>
    <add key="tiempoSimulacionHoras" value="1440"/>
    <add key="periodoGrabacionResult" value="1"/>
    <add key="anchoEjeX" value="1371"/>
    <add key="altoEjeY" value="1059"/>
    <add key="dimensionCelda" value="90,0"/>
    <add key="maxCantidadVariaciones" value="10"/>
    <add key="debugPlanchadoOption" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
